.fera{
  position: absolute;
  left: 85%;
  bottom: -40%;
  z-index: 999;
  height: 30%; /* resizing img */
}

.flash{
  animation: flash 1s linear infinite; 
}

.animateIn{
  animation: 2s left forwards ease;
}

@keyframes left {
    0% {left: 85%; bottom: -40%;}
    25% {left: 85%; bottom: 0%;}
  100%{left: -30%; bottom: 0%;}
}