.timerFont{
  font-family: 'B612 Mono', monospace;
  font-weight: 700;
}

.fera{
  position: absolute;
  right: 5%;
  bottom: -40%;
  z-index: 999;
  height: 30%; /* resizing img */
}

.animateFera{
  animation: 2s left forwards ease;
}

@keyframes left {
    0% {right: 5%; bottom: -40%;}
    20% {right: 5%; bottom: 0%;}
    35% {right: 5%; bottom: 0%;}
  100%{right: 100%; bottom: 0%;}
}

.helperInfo{
  position: absolute;
  left: -30%;
  bottom: 5%;
  z-index: 999;
}

.animateHelper{
  animation: 25s right forwards ease;
}

@keyframes right {
  0% {left: -30%;}
  5% {left: 5%;}
  95% {left: 5%;}
100%{left: -30%;}
}

@keyframes animatePinkBg {
  0% {bottom: 0;}
100%{bottom: -100%;}
}